.hero{
    width:100%;
    min-height:65vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#0f172a,#1e293b);
    color:white;
    padding:80px 20px;
}

.hero-content{
    width:90%;
    max-width:900px;
    text-align:center;
}

.hero h1{
    font-size:60px;
    font-weight:700;
    margin-bottom:20px;
    color:#f8fafc;
}

.hero h1 span{
    color:#38bdf8;
}

.hero p{
    font-size:20px;
    color:#cbd5e1;
    margin-bottom:40px;
    line-height:1.8;
}

.search-box{
    display:flex;
    justify-content:center;
    gap:15px;
    flex-wrap:wrap;
}

.search-box input{
    width:500px;
    max-width:100%;
    background:#1e293b;
    color:white;
    border:1px solid #334155;
    padding:15px;
    border-radius:10px;
    font-size:16px;
}

.search-box input::placeholder{
    color:#94a3b8;
}

.search-box button{
    background:#2563eb;
    color:white;
    padding:15px 30px;
    border:none;
    border-radius:10px;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

.search-box button:hover{
    background:#1d4ed8;
}

@media(max-width:768px){

.hero h1{
font-size:40px;
}

.hero p{
font-size:17px;
}

.search-box input{
width:100%;
}

}